.Card {
    transition: all 0.3s ease-in-out;
}

.Card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Это добавит тень для выделения карты */
    transform: translateY(-2px); /* Это поднимет карту наверх на 2 пикселя для создания визуального эффекта */
    cursor: pointer; /* Это изменит курсор на указатель при наведении на карту */
}
